/* Commentaire: Feuille de style pour fonts. */
@font-face {
    font-family: "Montserrat";
    src:
    local("Montserrat"),
    url("/src/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-family: "Epilogue";
    src:
    local("Epilogue"),
    url("/src/fonts/Epilogue/Epilogue-VariableFont_wght.ttf") format("ttf");
}


h1{
    color: var(--primary-color);
    font-size: 60px;
    margin-top: 20px;
    font-family:"Montserrat", sans-serif  ;
}

h2{
    color: var(--primary-color);
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:"Montserrat", sans-serif  ;
}

h3{
    color: var(--primary-color);
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family:"Montserrat", sans-serif  ;
    font-weight: bold;
}

h4{
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-family:"Montserrat", sans-serif  ;
}

body{
    color: var(--primary-color);
    font-size: 18px;
    font-family:"Epilogue", sans-serif  ;
}

small{
    color: var(--primary-color);
    font-size: 16px;
    font-family:"Epilogue", sans-serif  ;
}

.mini{
    color: var(--primary-color);
    font-size: 14px;
    font-family:"Epilogue", sans-serif  ;  
}
